.header{
    z-index: 10;
}

body{
background-color: rgb(154, 152, 152);
color:green; 
}

h1{
    font-size:36px;
    color:greenyellow;
    text-align:center; 
}

h2{
    color:goldenrod
    text-decoration:underline; 
    font-style:italic;
    font-weight:bold; 
}

p{
    font: size 25px;
}
#pinkparagraph {
    color:pink;
}

.pretty{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.common {
    background-color: aliceblue;
    border: 2px solid white;
    position: absolute;
}

.left{
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40 px; 
}

.main {
    top: 155px;
    left: 130px;
    right: 140px;
    bottom: 40px;
}

.right{
    top: 115px;
    right: 25px;
    width: 100px;
    height: 100 px;
}

.redtext {
    color: red 
}

.footer {
    bottom: 25px;
    height: 45px;
    left: 15px;
    right: 25px;
    position: fixed;
    background-color: aliceblue;
    border: 2px solid white
}